*{
    --comic-neue: 'Comic Neue', cursive;
    font-family: 'Comic Neue', cursive;
}
/* utility classes */
.max-screenwidth{
    width: 90%;
    margin: 0 auto;
}

/* Menu Ui's */
body{
   background-color: rgb(255 251 235);
}

header{
    background-color: rgb(120 53 15);
}
h1{
    color: rgb(255 251 235);
}

.menu{
    height: 600px;
    background-color: rgb(180 83 9);
}

.menu-btn{
    background-color: rgb(255 251 235);
    transition: 0.5s;
}
.menu-btn:hover{
    background-color:rgba(255, 251, 235, 0.55);
}


/* The Gamescreen UI */
.menu-back{
    background-color: rgb(255, 249, 235);
    transition: 0.5s;
}
.menu-back:hover{
    background-color:rgb(198, 164, 126);
}
.hitbox{
    width: 100%;
    height: 100%;
    background-color: rgb(255 251 235);
    background-size:40%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 6px 0 black;
    border-radius:20px;
}
.game-window:hover{
    cursor: url(./img/gavel.png),auto;
}

@keyframes resize-pic {
    from { background-size: 50%; }
    to { background-size:40%}
}

@keyframes hitbox-click-animation {
    0% {
        background-color: rgb(255 251 235);
        transform: rotate(5deg)
    }
    50%{
        transform: rotate(-5deg)
    }
    100%{ 
        background-color: rgba(255, 251, 235, 0.55);
        transform: rotate(0deg)
    }
}
.fa-heart{
    color: red;
    font-size: 30px;
    transition: all 0.3s;
}

@media (min-width: 1024px) {
    .hitbox{
        background-size:80%;
    }
}

/* Option UI */

.option{
    background-color: rgb(255 251 235);
    transition: 0.5s;
}